#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
#ViveButtons input[type="button"] {
    width:32% !important;

}
#ViveButtons input[type="button"]:hover {
   opacity: .5;
}
#walletButCont {
    border-radius: 15px;
    border: solid 1px #129979;
    display: inline-flex;
    padding-right: 5px;
    margin-bottom: 0px !important;
}
#walletBut {
    border-radius: 15px;
}

.paywallTrunk {
    background: linear-gradient(to bottom, #888 0%, #fff 10%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inputContainer{background-color:#4DC7AB;display: inline-block;border-radius: 15px;padding-right: 10px;}

/* Desktop small */
@media only screen and (max-width: 1182px) {
    #ViveButtons input[type="button"] {
    width:40% !important;
    float:none !important;
    }
}


/* tablet portrait */
@media only screen and (max-width: 1024px) {

    #popUpAdPassDiv{
        width: 60%;
    }
    #ViveButtons input[type="button"] {
    width:40% !important;
    float:none !important;
    }

}

/* Mobile portrait */
@media only screen and (max-width: 414px) {

    #popUpAdPassDiv{
        width: 80%;
    }

    .inputContainer{
        width: 95%;
    }
    #ViveButtons input[type="button"] {
    width:95% !important;
    float:none !important;
    }

}

